.comment{
    .comment--by{
        font-weight: 600;
        font-size: 18px;
    }
    background-color: rgba(88, 90, 212, 0.322);
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    padding: 10px;
}