.kid{
    background-color: rgba(127, 255, 212, 0.26);
    padding: 10px;
    margin: 5px;
    .kid--text{
        padding-left: 10px;
    }
    .kid--name{
        font-size: 18px;
        font-weight: 600;
    }
}